.main_{
    // background-color: #03045e;
}
.flex{
    display: flex;
    padding-top: 50px;
  
  
    .location{
        width: 50%;
    }
    .information{
        width: 50%;
    }
}

.loc{
    display: flex; 
    margin-bottom: 50px;
    
    .img_loc{
        margin-right: 20px;
        color: #000;
        width: 50px;
        height: 50px;
    }
}
.joy{
    // color: #f3f3f3;
}
.sam{
    font-size: 25px;
    font-weight: 700;
    // color: #f3f3f3;
}
.data_time{
    display: flex;

    .data_time_text{
        margin-left: 20px;
        // color: #f3f3f3;
    }

}
.button{
    background-color: #03045e;
    margin: 50px 0px 50px 0px;
    padding: 10px 20px;
    color: white;
    border-radius: 16px;
    font-size: 30px;
    font-weight: 600;
}
.info_text{
    // color: #f3f3f3;
    font-size: 20px;
}

.information{
    // color: #f3f3f3;

    .information_title{
        font-size: 35px;

    }
    .information_title_text{
        margin-top: 20px;
        font-size: 20px;
    }
}

.links1{
    margin-top: 70px;
    display: flex;
    // background-color: $mainColor;
    padding: 20px 30px;
    .flight{
        width: 50%;
        display: flex;
        align-items: center;
        // color: #f3f3f3;
    }
    .hotel{
        // color: #f3f3f3;
        display: flex;
        align-items: center;
        width: 50%;
    }
}
.icon{
    width: 65px;
    height: 65px;
    margin-right: 40px;
}
.link2{
    font-size: 20px;
}

.registration{
    margin-top: 60px;

    .reg{
        color: #f3f3f3;
        font-size: 50px;
        font-weight: 700;
    }
}

.flex2{
    display: flex;

    .forma1{
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }
    .forma2{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    input{
        padding: 20px;
        background-color: #F5F6FA;
        border-radius: 10px;
        border-color: #D9DCE5;
        margin-bottom: 20px;
        border: 0.5px solid #D9DCE5;
    }
    
    

}
label{
    color: #858585;
    padding-bottom: 5px;
    font-size: 20px;
}
.flex3{
    display: flex;
    margin-bottom: 50px;

    .aaa{
        margin-right: 30px;
    }
    label{
        color: #858585;
        padding-bottom: 5px;
        font-size: 20px;
    }
}
.forma2{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.input{
    background-color: #F5F6FA;
    border-radius: 10px;
    border-color: #D9DCE5;
    margin-bottom: 20px;
    border: 0.5px solid #D9DCE5;
    padding: 20px;
}
.btn2{
    background-color: #03045e;
    padding: 20px;
    display: block;
    color: #F5F6FA;
    border-radius: 10px;
}
.card{
    margin-top: 50px;
    background-color: #f8fbff;
    box-shadow: 0 0 30px 10px #03045e;
    padding: 50px;
    border-radius: 10px;
}
.plan{
    color: #2e31e6;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.data_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data_link{
    font-size: 25px;
    color: #2e31e6;

}
.plan1{
    display: flex;
    margin-bottom: 20px;

    .time2{
        width: 15%;
        padding: 20px;
        color: #f3f3f3;
        background-color: #03045e;
        border-radius: 16px;
    }
    .time2_text{
        width: 85%;
        padding: 20px;
        border: solid 1px;
        border-radius: 16px;
        margin-left: 10px;
    }
}

